 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I'm Vega Liu. I'm a passionate graphic designer with over 10 years experience. I'm a creative thinker and love what I do! I'm fluent in Chinese and English. </p>
                </div>
                <div class="col-lg-4">
                    <p>I have experience with these tools:
                    <ul>
                    <li>Adobe Photoshop</li>
                    <li>Adobe Illustrator</li>
                    <li>Adbode Dreamweaver</li>
                    <li>HTML/CSS</li>
                    </ul>
                    </p>
                </div>
                <!--<div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>-->
            </div>
        </div>
    </section>