 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I'm Vega Liu. I'm a passionate graphic designer with over 10 years experience. I specialize in designs for company advertisements and promotions. I enjoy sketch and illustration design. I'm a creative thinker and love what I do! I'm fluent in Chinese and English. I also have interests in learning Spanish! Contact me at <a href="mailto:qwert736@hotmail.com">qwert736@hotmail.com</a> </p>
                </div>
                <div class="col-lg-4">
                    <p>I have experience with:
                    <ul>
                    <li>Adobe Photoshop</li>
                    <li>Adobe Illustrator</li>
                    <li>Adode Dreamweaver</li>
                    <li>Adode ActionScript</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    </ul>
                    </p>
                </div>
                <!--<div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>-->
            </div>
        </div>
    </section>